VITE_SANITY_PROJECT_ID=yourprojectid
VITE_SANITY_DATASET=production
VITE_SANITY_API_VERSION=2025-02-19
VITE_SANITY_USE_CDN=true
SANITY_STUDIO_PROJECT_ID=yourprojectid
SANITY_STUDIO_DATASET=production
